.attension__text {
    p {
        font-size: 14px;
        line-height: 20px;
        color: $black;
        margin-bottom: 20px;
        text-indent: 35px;
    	text-align: justify;
    	margin-left: 35px;
    }
	
	.column{
		&.first{
			float: left !important;
		}
		&.last{
			float:right !important;
		}
	}
}
